[user]
	name = Numan Zahid
	email = 6734385+numanzahid@users.noreply.github.com
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
