Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_XXXXXXXXXX
  IdentitiesOnly yes

# Defaults last (OpenSSH uses the first value per option).
Host *
  ServerAliveInterval 60
  ServerAliveCountMax 10
  IdentitiesOnly yes
